<div class="col-10 offset-1 about">
  <h1> About Quotes for Cats</h1>

  <p>
    Quotes for Cats was built by <a target="_blank" href="https://github.com/devonct311">Devon</a> and her trusty cat sidekick: Cashmere.
  </p>
   <p>
    Meow meow meow meow meow meow meow!
  </p>
  <p>
    If you want to learn how to be a cat lady, start <a target="_blank" href=https://catladybox.com> here</a>
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Cashmere_cat_lady.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-4 cold-sm-7 offset-sml-1">
      <h2 class="text-center">Cat Lady Devon</h2>
      <br />
      <p>
        Devon is an aspiring cat lady with three aloof floofs (currently) but is hopeful to expand her collection.
      </p>
    </div>
  </div>

  <br class="clear" />
<div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'Cashmere.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-4 cold-sm-7 offset-sml-1" style="padding-top:30px;">
      <h2 class="text-center">Cashmere</h2>
      <br />
      <p>
        Cashmere is the current master for Devon and has two additional feline servants who she enjoys ruling over. New subjects, catnip and treats are always welcome. 
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />