
<h2>
  <span>Cat-ism / No. <%= @quote.id %></span>
  <br />
</h2>
<h3>
  <span>The inspirational cat quotes you didn't know you needed!</span>
</h3>
<h1><%= @quote.saying %></h1>
<h2>- <%= @quote.author %></h2>